@model Nop.Plugin.Misc.ApplicationInsights.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
@inject Nop.Core.IWebHelper webHelper

<form asp-controller="MiscApplicationInsights" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Plugins.Misc.ApplicationInsights.Instructions")
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="InstrumentationKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="InstrumentationKey" />
                        <span asp-validation-for="InstrumentationKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="EnableQuickPulseMetricStream" />
                    </div>
                    <div class="col-md-9">
                        <input asp-for="EnableQuickPulseMetricStream">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="EnableAdaptiveSampling" />
                    </div>
                    <div class="col-md-9">
                        <input asp-for="EnableAdaptiveSampling">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="EnableHeartbeat" />
                    </div>
                    <div class="col-md-9">
                        <input asp-for="EnableHeartbeat">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddAutoCollectedMetricExtractor" />
                    </div>
                    <div class="col-md-9">
                        <input asp-for="AddAutoCollectedMetricExtractor">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@functions
{
    public void GenerateCSException()
    {
        throw new System.InvalidOperationException("C# Exception generated!");
    }

    public void GenerateSQLException()
    {
        try
        {
            int y = 0;
            int x = 100 / y;
        }
        catch (SqlException ex)
        {
            Console.WriteLine("SQL Error code: " + ex.ErrorCode);
            Console.WriteLine("SQL Exception generated!");
        }
    }

    public void GenerateBrowserException()
    {
        throw new NopException("Browser Exception generated!");
    }
}

<h3>Generate an exception: </h3>
<div class="row">
    <form asp-page-handler="GenerateCSException" method="post">
        <div class="col-lg-1">
            <button class="btn btn-default">C#</button>
        </div>
    </form>
    <form asp-page-handler="GenerateSQLException" method="post">
        <div class="col-lg-1">
            <button class="btn btn-default">SQL</button>
        </div>
    </form>
    <form asp-page-handler="GenerateBrowserException" method="post">
    <div class="col-lg-1">
        <button class="btn btn-default">Browser</button>
    </div>
    </form>
</div>
